<!DOCTYPE html>
{% extends 'add_data_views.html' %}

{% block content %}

    <div style="text-align:center">
        <form method="POST" class="post-form" style="font-size:20px; ">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>

            <a href="http://localhost:8000/add_player_data/" class="btn btn-primary">Add Players</a>

        </form>

    </div>

{% endblock %}

