{% extends 'add_data_views.html' %}
{% load staticfiles %}

{% block content %}
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p}}
		
		<table class="table form-table table-bordered table-sm">
            <thead class="text-center">
                <tr>
                    <th>Name</th>
                    <th>Banner</th>
                    <th>Tagline</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for form_data in formset %}
                    <tr class="item">
                        <td>
                            {{ form_data.team_name }}
                        </td>
                        <td>
                            {{ form_data.english }}
                        </td>
                        <td>
                            {{ form_data.nepali }}
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                    id="{{ formset.prefix }}">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="9"
                        style="border-left: none!important; border-right: none !important; border-bottom: none!important;">
                        <button type="button" class="btn btn-sm btn-success add-form-row"
                                id="{{ formset.prefix }}">
                           Add
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            {{ formset.management_form }}

		<button type="submit">Submit</button>
	</form>
{% endblock %}
{% block extra_script %}
	<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{% endblock%}