{% extends 'base.html' %}
 {% block content %}
<h1>Django Login Page</h1>

{% if user.is_authenticated %}

    <p style="font-size:20px; ">Hi {{ user.username }}</p>
    <p >
        <a style="float: left'" href="{% url 'add_data' %}">Add Data</a>
        <a style="float: right" href="{% url 'logout' %}">Log out</a>
    </p>

{% else %}
    <p>Please
        <a href="{% url 'signup' %}">Sign Up</a> Or
        <a href="{% url 'login' %}">Log In </a>
    </p>
{% endif %}
{% endblock %}
