<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <h2>Welcome {{student}} to Django!!!</h2>
        <a href="import" >Import</a>
        <a href="export" >Export</a>

    </body>
</html>
