{% extends "admin/base_site.html" %}

{% block extrastyle %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{% block content %}
<form action="" method="post" id="group_form" novalidate="">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row border">

            <div class="col-sm-12 row mt-3 mb-3">
                <label class="col-sm-3 font-weight-bold">Name: </label>
                <div class="col-sm-9 p-0">
                    {% if have_perm_dict.name %}
                        <input type="Text" name="group_name" value="{{ have_perm_dict.name }}" required>
                    {% else %}
                        <input type="Text" name="group_name" placeholder="Enter Group Name" required="required">
                    {% endif%}
                </div>
            </div>

            <div class="col-sm-12 row">
                <label class="col-sm-3 font-weight-bold">Permissions: </label>
                <div class="col-sm-8 container-fluid m-0 border-permission">
                    <div class="header row">
                        <div class="col-sm-4 "><b>Available Permissions</b></div>
                        <div class = " col-sm-7 d-flex justify-content-around">
                            <b class=" ">add</b>
                            <b class="">change</b>
                            <b class="">delete</b>
                            <b class="">view</b>
                        </div>
                    </div>
                    <div class="card-body"  style = "height: 20rem; overflow: scroll;">
                        {% for app, models in extra_context.items %}
                        <div class="permission-container p-2">
                            <b>{{ app }}</b>                            <!--App Name-->
                            <input type="checkbox" id="{{ app }}-id" class ="app_permissions" name="app_Permission_checkbox[]"
                                data-toggle="tooltip" title="Select All Models"/>

                            <div class="mt-3 container-fluid permission-row " >
                                {% for model, perm_list in models.items %}
                                    <div class="row" >
                                        <div class = "border col-sm-4">
                                            {{ model }}                     <!--Model Name-->
                                            <input type="checkbox" id="{{ model }}-id" class="model_permissions float-right mt-2 mr-3"
                                                   name="model_Permission_checkboxes[]" data-toggle="tooltip" data-placement="left" title="Select All Permission"/>
                                        </div>

                                        <div class = "border col-sm-8 d-flex justify-content-around p-2 permission-options" >
                                            {% for perm_set in perm_list %}
                                                {% for perm_id, perm_name in perm_set.items %}
                                                    {% if perm_id in have_perm_dict.have_perm_list %}
                                                        <input type="checkbox" class="set_permissions" name="permission_checkboxes[]" value="{{ perm_id }}" checked />
                                                    {% else %}
                                                        <input type="checkbox" class="set_permissions" name="permission_checkboxes[]" value="{{ perm_id }}" />
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="submit-row">
        <input type="submit" value="Save" class="default" name="_save">
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
$(document).ready(function () {
    $(".app_permissions").click(function () {
        $(this).next().find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
    });
    $(".model_permissions").click(function () {
        $(this).parent().next().find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
    });
    $(document).on('click', '.set_permissions', function(e) {
        if (!$(this).prop("checked")){
            $(this).parent().prev().children().prop("checked",false);
            $(this).closest('.permission-container').children().prop("checked",false);

<!--            $(this).parent().parent().parent().parent().children().prop("checked",false);-->
        }
    });
});
</script>

<style>
.header {
    background-color : #b8b8b9;
}
.permission-container {
    background-color : #dedede;
}
.permission-row {
    background-color : #ededed;
    padding : 20px;
}
.border-permission {
    border : 5px solid;
    border-color : #b8b8b9;

}
</style>

{% endblock content %}

<!--$(document).ready(function () {-->
<!--    $("#app_permissions").click(function () {-->
<!--        $(".model_permissions").prop('checked', $(this).prop('checked'));-->
<!--    });-->

<!--    $(".model_permissions").change(function(){-->
<!--        if (!$(this).prop("checked")){-->
<!--            $("#app_permissions").prop("checked",false);-->
<!--        }-->
<!--    });-->
<!--});-->
