{% extends "admin/base_site.html" %}

<!DOCTYPE HTML>
{% block content %}
<html>
  <head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script>

    {{ form.media }}


    <link
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css"
        rel="stylesheet">
<!--    {{ form.media.css }}-->
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input id="submit" type="submit" value="Submit">
    </form>
</body>
<html>
{% endblock %}

